<div class="modal-body custom-modal" id="modal-body">
    <h3>  Share It.  </h3>
</div>
<div class="modal-footer custom-modal">
    <div class="modal-footer custom-modal">
        <button class="btn btn-primary" type="button" socialshare socialshare-provider="facebook" socialshare-text="Yey!! I Donated" socialshare-url="http://www.donateus.com">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
        </button>
        <button class="btn btn-warning" type="button" socialshare socialshare-provider="twitter" socialshare-text="Yey!! I Donated" socialshare-url="http://www.donateus.com"> 
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i> 
        </button>
    </div>
</div>